@import compass

.body
	padding-top: 0px

.tempDiv
	height: 2000px

.navbar-default
	box-shadow: none
	position: relative
	border: none
	outline: 1px solid rgba(255,255,255,1)
	outline-offset: 5px
	border-radius: 0px
	height: 150px
	margin-bottom: 0px
	background-image: none
	background-color: rgba(255,255,255,0)

	.navbar-toggle
		margin-top: 5%
		margin-right: 10%
		z-index: 1
		.icon-bar
			background-color: rgb(255,255,255)
			margin-top: 5px
			height: 4px
			width: 25px

	button
		border: none

	.navbar-brand
		position: absolute
		left: 50%
		margin-left: -115px /* 50% of your logo width */
		display: block
		height: 150px
		padding:
			bottom: 10px
		img
			height: 100%
			width: auto

	.navbar-collapse
		border: none
		box-shadow: none
		background: rgba(255,255,255,1)
		margin-top: 50px
		height: auto !important

.main
	background: #eb01a5,linear-gradient(left,#0078AA, #009EAA) 
	background-image: url('../img/backIco.png') /* fallback */
	background-image: url('../img/backIco.png'), linear-gradient(left,#0078AA, #009EAA) /* W3C */
	background-image: url('../img/backIco.png'),-moz-linear-gradient(left, #0078AA, #009EAA) // FF 3.6+
	background-image: url('../img/backIco.png'), -webkit-gradient(linear, 100% 0%, 0% 0%, color-stop(100%,#0078AA), color-stop(0%,#009EAA)) // Safari 4+, Chrome 2+
	background-image: url('../img/backIco.png'), -webkit-gradient(left, #0078AA, #009EAA) // Safari 5.1+, Chrome 10+
	background-image: url('../img/backIco.png'), -o-linear-gradient(left, #0078AA, #009EAA) // Opera 11.10
	background:
		size: 250px auto, 100% 100%
		position: bottom -35px left -35px, center center
		repeat: no-repeat


.mainText
	margin-left: 5%
	margin-right: 5%
	margin-top: 10%
	min-height: 250px
	text-align: center
	h1
		font-size: 2.5em
		color: white
		font-family: Netto Offc
		span
			color: #7AC943
	p
		color: white
		font-size: 1em


#sec1
	#textSec1
		margin-top: 10%
		margin-left: 5%
		margin-right: 5%
		text-align: center
		h2
			font-size: 1.8em
			font-family: Netto Offc
			font-weight: bold
			color: #0078AA
			span
				color: #7AC943

		p
			text-align: center
			line-height: 200%
			color: #7f7f7f
	#imgSec1
		margin-left: 10%
		margin-right: 10%
		margin-top: 10%
		position: relative
		#ribbon
			position: absolute
			max-width: 30%
			height: auto
			left: 38%
			transform: translate(0px, -30px)
			transition: transform 0.5s ease-in


		#omsMeat
			position: absolute



@media screen and (min-width: 768px)
	.navbar-default
		background-color: transparent
		height: 100px
		border-bottom: none
		outline: none
		.navbar-nav>li>a
			color: white
		.navbar-nav>.active>a
			background-image: none
			background-color: rgba(255,255,255,0.8)
		.navbar-collapse
			margin-top: 0px
			background-color: transparent
		.navbar-brand
			left: auto
			height: 100px
			margin-left: 0px
			padding-left: 5%
	.main
		background-size: 400px auto, 100% 100%
		background-position: bottom -80px left -35px, center center
		min-height: 50vh
	.mainText
		margin-top: 7%
		p
			font-size: 1.3em
		h1
			font-size: 3em
			padding-top: 20px
	#sec1
		#imgSec1
			margin-left: 25%
			margin-right: 25%



@media screen and (min-width: 1280px)

	.mainText
		margin-top: 10%
		p
			font-size: 2em
		h1
			font-size: 3.5em
			padding-top: 50px
	.main
		background-size: 700px auto, 100% 100%
		background-position: bottom -100px left -35px, center center
		min-height: 100vh