/* line 3, main.sass */
.body {
  padding-top: 0px;
}

/* line 6, main.sass */
.tempDiv {
  height: 2000px;
}

/* line 9, main.sass */
.navbar-default {
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background-image: none;
  background-color: #f4b500;
}
/* line 18, main.sass */
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  margin-top: 5px;
  height: 4px;
}
/* line 23, main.sass */
.navbar-default button {
  border: none;
}
/* line 26, main.sass */
.navbar-default .navbar-brand {
  height: 100px;
  padding-bottom: 10px;
  padding-left: 30%;
}
/* line 31, main.sass */
.navbar-default .navbar-brand img {
  height: 95%;
  width: auto;
}

/* line 35, main.sass */
.main {
  background-image: url("../img/pillGlass.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 44, main.sass */
.mainText {
  height: 400px;
  text-align: center;
}

/* line 53, main.sass */
.mainBox {
  height: 80px;
  background-color: #f4b500;
}
