/* line 3, main.sass */
.body {
  padding-top: 0px;
}

/* line 6, main.sass */
.tempDiv {
  height: 2000px;
}

/* line 9, main.sass */
.navbar-default {
  border: none;
  border-radius: 0px;
  shadow: none;
  margin-bottom: 0px;
  background: none;
}
/* line 20, main.sass */
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  margin-top: 5px;
  height: 4px;
}
/* line 25, main.sass */
.navbar-default button {
  border: none;
}
/* line 28, main.sass */
.navbar-default .navbar-brand {
  height: 100px;
  padding-bottom: 0px;
  padding-left: 25%;
}
/* line 33, main.sass */
.navbar-default .navbar-brand img {
  height: 100%;
  width: auto;
}

/* line 37, main.sass */
.main {
  height: 100vh;
  background-image: url("../img/prbbhall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
