/* line 3, main.sass */
.body {
  padding-top: 0px;
}

/* line 6, main.sass */
.tempDiv {
  height: 2000px;
}

/* line 9, main.sass */
.navbar-default {
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background-image: none;
  background-color: rgba(255, 255, 255, 0);
}
/* line 19, main.sass */
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  margin-top: 5px;
  height: 4px;
}
/* line 24, main.sass */
.navbar-default button {
  border: none;
}
/* line 27, main.sass */
.navbar-default .navbar-brand {
  height: 100px;
  padding-bottom: 10px;
  padding-left: 30%;
}
/* line 32, main.sass */
.navbar-default .navbar-brand img {
  height: 95%;
  width: auto;
}

/* line 36, main.sass */
.main {
  background-image: url("../img/icoBack.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 45, main.sass */
.mainText {
  min-height: 400px;
  text-align: center;
}

/* line 54, main.sass */
.mainBox {
  height: 80px;
}
